.question {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #4b6587;
  border-radius: 0.4rem;
  background: #c8c6c6;
}

.avatar-div {
  display: flex;
  align-items: center;
}

.avatar {
  width: 60px;
}
